*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(201, 199, 133);
    width: 101%;
    margin: auto;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
}
nav ul{
    list-style: none;
    display: flex;
    /* border: 3px dashed red; */
    justify-content: space-around;
    padding: 25px;
}
nav li{
    font-size: 25px;
}
nav a{
    text-decoration: none;
}